*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgray;
    font-size: 14px;
}
.container{
    width: 80%;
    margin: 50px auto;
}
.contactbox{
    background: #fff;
    display: flex;
    border-radius: 30px;
    overflow: hidden;
}
.cleft{
    flex-basis: 70%;
    padding: 40px 60px;
    background-color: mintcream;
}
.cright{
    flex-basis: 30%;
    padding: 40px;
    background: oldlace;
}
h1 {
    margin-bottom: 20px;
    text-align: center;
}
img{
    width: 0;
    height: 0;
}

h2 {
    margin: 15px 0;
}

p {
    margin-bottom: 15px;
}

.values ul {
    list-style-type: disc; /* Bulleted list */
    padding-left: 20px; /* Indent bullets */
}

.values li {
    margin-bottom: 10px; /* Space between list items */
}